header {
    position: relative;
    left: -8px;
    width: calc(100% + 16px);
    height: 100px;
    background-color: #414141;
}
#drag{
    position: absolute;
    -webkit-app-region: drag;
    width: 100vw;
    height: 20px;
    display: flex;
    z-index: 500;
    flex-direction: row-reverse;
}
#drag > button{
    -webkit-app-region: none;
    background: 0;
    color: #ececec;
    margin: 0;
    padding: 0;
    border: 0;
    height: 20px;
    width: 60px;
    position: relative;
    z-index: 1000;
}
div{
    height: 100%;
}
.heihgt_auto{
    height: auto;
}
#headerwrap{
    height: 100%;
}
.flex{
    display: flex;
}
.headerlink{
    margin-top: 20px;
    height: 100%;
    padding-left: 1vw;
    padding-right: 1vw;
    width: 5vw;
    transition    : .10s;         /* なめらか変化 */
}
.headerlink:hover{
    padding-left: 30px;
    padding-right: 30px;
    color: #414141;
    position: relative;top: 5px;
    background: #a7a7a7;
}
#logoimg{
    width: 20vw;
    height: calc(20vw*(226/670));
    position: absolute;
    top: 50%;
    margin-top: calc(-20vw*(226/670)/2)
}
#searchform{
    width: 50%;
    height: 100%;
    display: block;
}
#filler{
    margin: 20px 0 0;
    border-radius: 10px 10px 0 0;
    background: rgba(0,0,0,0);
    width: 30%;
    height: 30%;
    border:0;
    padding: 0 0 0 5px;
    border-bottom: solid 2px #525252 ;
    background: #a7a7a7;
}
#textandbutton{
    width: 100%;
    height: 30%;
    background: #a7a7a7;
    border-radius: 0 10px 10px 10px;
}
#search{
    height: 100%;
    width: 80%;
    background: rgba(0,0,0,0);
    margin: 0;
    padding: 0 0 0 10px;
    border-radius: 0 0 0 10px;
    border: 0;
    border-right: solid 2px #414141;
}
.searching{
    transition:all 0.4s ease;
    margin: 0;
    padding: 0;
    background: rgba(0,0,0,0);
    height: 100%;
    width: 20%  ;
    border: 0;
}
.searching:hover{
    background: rgba(0,0,0,0.15);
}
/*ここまでヘッダー*/
th{
    text-align: left;
}
a {
    text-decoration: none;
    color: #ececec;
}
body{
    height: 100%;
    margin-bottom: 0;
    margin-top: 0;
    overflow: hidden;
}
html {
    height: 100%;
    font-family: zen-maru-gothic,sans-serif;!important;
    font-weight: 400;
    font-style: normal;
}
button, input, select, textarea {
    font-family: zen-maru-gothic,sans-serif;!important;
    font-weight: 400;
    font-style: normal;
 }
.none{
    display: none !important;
}
.scroll{
    overflow: scroll !important;
}
.hide_xbar{
    overflow-x: hidden !important;
}
.popup_header{
    height: 40px;
    width: 100%;
}
.popup_footer{
    display: flex;
    height: 40px;
    child-align: right;
    width: 100%;
}
.popup_main{
    width: 100%;
    overflow: auto;
    border-bottom: solid 2px #414141;
    border-top: solid 2px #414141;
    height: calc(100% - 80px);
}
#logp{
    width: 40%
}
.making{
    position: absolute;
    background: rgba(0,0,0,0.75);
    height: 100%;
    width: 100%;
}
#logo{
    position: relative;
    margin-right: 20vw;
}
.outer_form > input,.outer_form > button{
    height: 100%;
    background: 0;
    border: 0;
    margin: 0;
    padding: 0;
}
#main_window{
    overflow: auto;
    height: calc(100% - 100px);
    -ms-overflow-style: none;
}
#main_window::-webkit-scrollbar{
    display: none;
}
#close:hover{
    background: #954b49;!important;
}
#maximize:hover,#minimize:hover{
    background: #a7a7a7;
}
button{
    background: #673b6e;
    color: #ececec;
    border: 0;
    margin: 0;
    padding: 0;
}
button:hover{
    background: #4c265b;
}
select{
    background: #673b6e;
    color: #ececec;
}
input{
    background: #a7a7a7;
}
input::placeholder{
    color: #cbcbcb;
}