header {
    height: 35%;
    background-color: #414141;
}
div{
    height: 100%;
}
.heihgt_auto{
    height: auto;
}
#headerwrap{
    height: 100%;
}
.flex{
    display: flex;
}
.headerlink{
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    transition    : .10s;         /* なめらか変化 */
}
.headerlink:hover{
    padding-left: 30px;
    padding-right: 30px;
    color: #414141;
    position: relative;top: 5px;
    background: #a7a7a7;
}
#logo{
    margin-top: 10%;
    width: 100%;
}
#searchform{
    width: 50%;
    height: 100%;
    display: block;
}
#filler{
    margin-top: 4%;
    width: 30%;
    height: 20%;
}
#textandbutton{
    width: 100%;
    height: 30%;
}
#search{
    height: 100%;
    width: 80%;
}
.searching{
    height: 110%;
    width: 20%  ;
}
/*ここまでヘッダー*/
th{
    text-align: left;
}
a {
    text-decoration: none;
    color: #ececec;
}
body{
    height: 100%;
}
html {
    height: 100%;
}
.none{
    display: none !important;
}
.scroll{
    overflow: scroll !important;
}
.hide_xbar{
    overflow-x: hidden !important;
}