subtext{
    font-size: 10px;
    color: #C2C2C2FF;
}
#menu{
    width: 20%;
    height: 100%;
}
#form{
    width: 80%;
    height: 100%;
}
.form{
    height: 80%;
    overflow: scroll;
    overflow-x: hidden;
}
.buttonbar{
    height: 20%;
}
.warn{
    background: #954b49;
}