
#child1 {
    width: 30%;
}
#child2 {
    width: 70%;
}

#parent {
    display: flex;
}
#rand {
    height: 50px;
    width: 60%;
    border-radius: 0 0 0 10px;
}
.smallbt {
    height: 100px;
    width: 100%;
}
.longbt {
    height: 200px;
    width: 20%;
}
a {
    text-decoration: none;
    color: #ececec;
}
.aleat{
    background: #954b49;
    color: #ececec;
    width: 30vw;
    height: calc(30vw /16 * 9);
    background-size: cover;
    background-position: center;
}
#aleatmaintable{
    width: 100%;
    display: flex;
}
#aleatthing{
    border: 0;
    border-bottom: solid 2px #414141;
    margin: 0;
    padding: 0;
    width: 100%;
    border-radius: 10px 10px 0 0;
}
#goedit{
    width: 40%;
    height: 50px;
}
#inner_goedit{
    width: 100%;
    height: 100%;
    border-radius: 0 0 10px 0;
}
#no_stream{
    font-family: AB-doramin Regular;
    font-size: calc(100vw / 18);
}
.aleat_bt{
    color: #414141;
    background: #ececec;
    transition:all 0.4s ease;
    border: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display       : inline-block;
    font-size     : 1.25em;        /* 文字サイズ */
    text-align    : center;      /* 文字位置   */
    cursor        : pointer;     /* カーソル   */
}
.aleat_bt:hover{
    background: #525252;
    color: #a7a7a7;
}
#smallbts{
    width: 20%;
}