header {
    background-color: #414141;
}
.flex{
    display: flex;
}
.headerlink{
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    transition    : .10s;         /* なめらか変化 */
}
.headerlink:hover{
    padding-left: 30px;
    padding-right: 30px;
    color: #414141;
    position: relative;top: 5px;
    background: #a7a7a7;
}
/*ここまでヘッダー*/
th{
    text-align: left;
}
a {
    text-decoration: none;
    color: #ececec;
}
.scroll{
    overflow: scroll;
}
.closed{
    display: none;
}
/*ここまでデフォ*/
#sidebar{
    width: 30%;
    height: 100%;
}
#main{
    width: 70%;
    height: 100%;
}
.button{
    width: 100%;
    height: 20%;
    margin-bottom: 10px;
    margin-top: 10px;
    background: #a7a7a7;
}
.button:hover{
    background: #954b49;
}
.setting{
    height: 90%;
}
#send{
    height: 10%;
}