
#sidebar{
    width: 30%;
    height: 100%;
}
#main{
    width: 70%;
    height: 100%;
}
.button{
    width: 100%;
    height: 20%;
    margin-bottom: 10px;
    margin-top: 10px;
    background: #a7a7a7;
}
.button:hover{
    background: #954b49;
}
.setting{
    height: 90%;
}
#send{
    height: 10%;
}
.closed{
    display: none;
}