/* ボーターレス用 */
#videodiv.borderless{
    display: block;
    width: 100%;
    max-width: 100%;
    height: 0;
    padding-top: 56.25%; /* 高さを指定(16:9) */
    position: fixed;
    z-index: 100;
    left: 0;
    top: calc((100vh - 56vw) / 2);
}
/* YouTube埋め込み用のiframe */
iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/*ボーダレス背景*/
#borderlass_backgraund{
    position: absolute;
    top: calc((100vh - 56vw) / 2 * -1);;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #414141;
}

#video:hover + #borderlass_off{
    display: block;
}

a{
    text-decoration: none;
}

#taglist{
    display: flex;
}
details {
    transition: .5s;
}
.edit {
    display: block;
    width: 600px;
    max-width: 100%;
    height: 200px;
    position: fixed;
    z-index: 100;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* margin: -200px 0 0 -200px; */
    background: #414141;
    box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);
}
#manu{
    height: 300px;
    width: 100%;
    display: flex;
}
.list{
    width: 50%;
}
.editsongsbox,#edittimetable{
    display: block;
    width: 40%;
    max-width: 100%;
    height: 60%;
    position: fixed;
    z-index: 100;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* margin: -200px 0 0 -200px; */
    background: #282828;
    box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);
}
.closed{
    display: none!important;
}
.scroll{
    overflow: scroll;
}
.inputdiv{
    overflow: hidden;
    height: 160px;
}
#sendsong{
    width: 100%;
    height: 60px;
}
.tag,.etag{
    height: 2em;
    margin: 0 10px;
    padding: 0 5px;
    background: #525252 ;
    border-radius: 10px;
}
#edittag{
    display: flex;
    flex-wrap: wrap;
    height: 90px;
    overflow: auto;
}
#tag_send{
    height: 100%;
    width: 50%;
    border: 0;
    margin: 0;
    padding: 0;
    border-right: solid 1px #282828;
}
#tag_cancel{
    height: 100%;
    width: 50%;
    border: 0;
    margin: 0;
    padding: 0;
    border-left: solid 1px #282828;
}
#close-edit{
    cursor: pointer;
    background: 0;
    height: 100%;
    width: 40px;
}
.header_txt{
    text-align: center;
    margin-top: 0.5em;
    height: calc(100% - 0.5em);
    width: calc(100% - 40px);
}
#newtag{
    margin: 0;
    border: 0;
    padding: 0 0 0 10px;
    border-right: solid 1px #282828;
    border-radius: 10px 0 0 10px;
    color: #cbcbcb;
}
#sendnewtag{
    color: #ececec;
    margin: 0;
    padding: 0 10px;
    border: 0;
    border-left: solid 1px #282828;
    border-radius: 0 10px 10px 0;
    background: #a7a7a7;
}
.delbt{
    width: 1.5em;
    height: 1.5em;
    margin: 0.25em;
    padding: 0;
    border: 0;
    border-radius: 10px;
    background: #954b49;
}
.mainlist{
    height: 250px;
    overflow: auto;
    background: #2e2e2e;
    border-bottom: solid 2px #525252;
}
#open-edit,.edit_times{
    border-radius: 10px;
    padding: 0 10px;
    height: 2em;
}
.close-pupup{
    width: 40px;
    background: 0;
    color: #ececec;
    cursor: pointer;
}
.close-pupup:hover{
    background: 0;
}
#song_head{
    display: flex;
    flex-direction: row-reverse;
}
#addsong{
    border-collapse:collapse;
    width: 100%;
}
#addsong > tbody > tr {
    height: 3em;
    border-bottom: solid 1px #ececec;
}
#addsong > tbody > tr > td > button {
    background: #954b49;
    padding: 0.5em;
    border-radius: 0.5em;
}
#songnform{
    height: 50px;
    display: flex;
}
#addedsong{
    width: 100%;
}
#searchsongs{
    height: 50%;
    width: 100%;
    border: 0;
    padding: 0;
    margin: 0;
}
#songlist{
    width: 100%;
    border: 0;
    margin: 0;
    height: 50%;
    padding: 0;
}
#newsong{
    position: relative;
    top: 30%;
    border: 0;
    width: 40%;
    padding: 0;
    margin: 0;
    height: 30%;
}
#timeandsend{
    height: 100px;
    width: 60%;
    margin: 0 20%;
}
#time{
    width: 80%;
    position: relative;
    top: 0.75em;
}
#setsong{
    border-radius: 10px;
    width: 20%;
}
label{
    display: block;
}
#songname{
    width: 95%;
}
#songlist0{
    width: 100%;
    border-collapse: collapse;
}
#songlist0 > tbody > tr > td {
    height: 3em;
}
#songlist0 > tbody > tr {
    border-bottom: solid 1px #ececec;
}
#songlist0 > tbody > tr > td > button{
    height: 2em;
    width: 3em;
    border-radius: 10px;
}
.list_header{
    border-bottom: solid 2px #525252;
    height: 50px;
}
#timetable_inputs > *{
    border: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    display: block;
}
#timetableform{
    width: calc(100% - 50px);
}
#send_div{
    width: 50px;
}
#send_timetable{
    width: 100%;
    height: 100%;
    border-left: solid 2px #ececec;
}
#timetable_inputs{
    width: calc(100% - 50px);
}
#add_timetable{
    width: 50px;
}
.timeteble_row{
    height: 3em;
    width: 100%;
    display: flex;
    border-bottom: solid 1px #ececec;
}
.timeteble_row > div{
    margin-top: 0.7em;
    height: 2.3em;
    width: calc((100% - 3em) / 2);
}
.timeteble_row > button{
    border-radius: 10px;
    margin-top: 0.6em;
    height: 2.5em;
    width: 3em;
    background: #954b49;
}
.go-button{
    background: #673b6e!important;
}