#detaildata{
    width: 60%;
}
#archives{
    width: 40%;
    height: 100%;
    overflow: scroll;
}
#head {
    width: 100%;
    height: 70%;
}

.preview{
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 45%;
}
.player{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}