
/* 動画を囲うdiv */
#videodiv.default {
    position: relative;
    width:70%; /* 横幅は100%で固定 */
    height:0; /* 高さは0にしておく(padding-topで高さを指定するため) */
    padding-top: 39.375%; /* 高さを指定(16:9) */
}
#videodiv.borderless{
    display: block;
    width: 100%;
    max-width: 100%;
    height: 0;
    padding-top: 56.25%; /* 高さを指定(16:9) */
    position: fixed;
    z-index: 100;
    left: 0;
    top: calc((100vh - 56vw) / 2);
}

/* YouTube埋め込み用のiframe */
iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#borderlass_backgraund{
    position: absolute;
    top: calc((100vh - 56vw) / 2 * -1);;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #414141;
}
#borderlass_off{
    position: absolute;
    display: block;
    z-index: 102;
}
#borderlass_backgraund:hover + #borderlass_off{
    display: block;
}
#video:hover + #borderlass_off{
    display: block;
}
video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
a{
    text-decoration: none;
}
#taglist{
    display: flex;
}
#manu{
    height: 30%;
    width: 100%;
    display: flex;
}
#list{
    width: calc(100% - 40px);
    height: auto;
    overflow: auto;
    margin-left: 20px;
    margin-right: 20px;
}
#list::-webkit-scrollbar{
    display: none;
}
#prayer{
    display: flex;
}
#other {
    position: relative;
    width:30%; /* 横幅は100%で固定 */
    height:0px; /* 高さは0にしておく(padding-topで高さを指定するため) */
    padding-top: 39.375%;
}
#innerother{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#buttons2{
    --width2:100%;
    width: var(--width2);
    --btheight:calc((1 + var(--width2)/280) * 60px);
    height: var(--btheight);
}
.scroll{
    overflow: scroll;
}
.song{
    transition:all 0.8s ease;
    width: 100%;
    height: 100px;
    background-size: cover;
    background-position: top;
    overflow: hidden;
}
.song:hover{
    height: calc(25vw - 40px);
}
.selected{
    height: calc(25vw - 40px);
    background: #666666;
    color: #ececec;
}
#SeekBar{
    width: 100%;
}
#playlisteditor{
    position: fixed;
    display: block;
    height: 50%;
    width: 25%;
    z-index: 100;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #a7a7a7;
    box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);
}
.headtext{
    width: 80%;
}
.closebutton{
    width: 20%;
}
#playlist_add{
    width: 100%;
    height: 100%;
}
#newlistform{
    background: #a7a7a7;
    height: 200%;
}
#send_newplaylist{
    margin-left: auto;
}
.playlist_div{
    height: 10%;
}
.cover{
    height: calc(25vw - 40px);
    width: 100%;
    display: table;
    background-image: linear-gradient(rgba(0,0,0,0.8),20%,rgba(0,0,0,0)),URL(../Asset/no_cover.png);
    background-size: cover;
}
.cover_title{
    font-size: 50px;
    text-align: center;
    display: table-cell;
    vertical-align:middle;
    font-family: ab-doramin, sans-serif;
    font-weight: 400;
    font-style: normal;
}
.title{
    height: 0;
}