#searchbox{
    height: 50px;
}
#listbox{
    display: flex;
    overflow: auto;
    flex-wrap: wrap;
}
.Icon{
    height: auto;
    width: auto;
    margin: auto;
    display: flex;
}
.cover{
    height: 30vw;
    width: 30vw;
    display: table;
    background-image: linear-gradient(rgba(0,0,0,0.8),20%,rgba(0,0,0,0)),URL(../Asset/no_cover.png);
    background-size: cover;
}
.cover_title{
    font-size: 50px;
    text-align: center;
    display: table-cell;
    vertical-align:middle;
    font-family: ab-doramin, sans-serif;
    font-weight: 400;
    font-style: normal;
}
.title{
    height: 30%
}
.singer{
    height: 10%;
}
.duration{
    height: 10%;
}
.buttons{
    width: 100%;
    height: 50%;
    display: flex;
}
.buttons > a{
    width: 25%;
    height: 100%;
}
.detail{
    transition:0.5s;
    overflow: hidden;
    width: 0;
    height: 300px;
}
.go_detail{
    border-radius: 10px 0 0 10px;
    color: #525252;
    border-left: solid 2px #414141;
    background: #ececec;
    height: 100%;
    width: 100%;
}
.go_randsong{
    color: #525252;
    border-left: solid 2px #414141;
    background: #ececec;
    height: 100%;
    width: 100%;
}
.detail.open{
    width: 70vw;
}
.title_singer{
    height: 0;
    width: 30vw;
}
.description{
    width: 60%;
}
#playlisteditor{
    position: fixed;
    display: block;
    height: 50%;
    width: 25%;
    z-index: 100;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #a7a7a7;
    box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);
}
.headtext{
    width: 80%;
    margin-top: 10px;
    margin-left: 10px;
}
.closebutton{
    width: 20%;
}

#playlist_add{
    width: 100%;
    height: 100%;
    background: 0;
}
#newlistform{
    background: #a7a7a7;
    height: 200%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#send_newplaylist{
    margin-left: auto;
    cursor: pointer;
    border-left: solid 2px #414141;
}
.playlist_div{
    height: 10%;
}
.playlist_div{
    width: 100%;
    height: 40px;
    display: flex;
}
.inner_label{
    height: 100%;
    width: calc(100% - 40px);
}
.playlist_div > label{
    cursor: pointer;
    height: 100%;
    display: flex;
    width: calc(100% - 30px);
}
.playlists{
    margin: 10px;
    height: 20px;
    width:  20px;
}
.playlist_div > button{
    width: 30px;
    margin: 5px;
    height: 30px;
    border-radius: 10px;
    background: #954b49;
    cursor: pointer;
}
#newlistform_inner{
    background: #ececec;
    height: 75%;
}
#close_playlisteditor{
     margin: 25%;
     width: 50%;
     height: 50%;
     background: 0;
     cursor: pointer;
     color: #ececec;
 }
#playlist_add{
    width: 100%;
    height: 100%;
    background: 0;
}
button{
     transition:all 0.4s ease;
     border: 0;
     margin: 0;
     padding: 0;
     height: auto;
     cursor: pointer;
}
.add_playlist{
    border-left: solid 2px #414141;
    border-right: solid 2px #414141;
    color: #525252;
    width: 25%;
    height: 100%;
    background: #ececec;
}