
th{
    text-align: left;
}
body{
    height: 65%;
}
html {
    height: 100%;
}
/*ここまでデフォ*/
/* 動画を囲うdiv */
#videodiv.default {
    position: relative;
    width:70%; /* 横幅は100%で固定 */
    height:0; /* 高さは0にしておく(padding-topで高さを指定するため) */
    padding-top: 39.375%; /* 高さを指定(16:9) */
}

#borderlass_off{
    background: 0;
    position: absolute;
    display: block;
    height: 50px;
    width: 50px;
    cursor: pointer;
    z-index: 1000;
}
#borderlass_backgraund:hover + #borderlass_off{
    display: block;
 }

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
    background: rgba(0, 0, 0, 0.6);
}
a {
    text-decoration: none;
    color: #ececec;
}
#prayer{
    display: flex;
}
#other {
    position: relative;
    width:30%; /* 横幅は100%で固定 */
    height:0px; /* 高さは0にしておく(padding-topで高さを指定するため) */
    padding-top: 39.375%;
}
#innerother{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#buttons2{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    height: auto;
}
#buttons2 > button{
    transition:all 0.8s ease;
    margin: 0;
    padding: 0;
    border: 0;
    min-height: 3em;
    width: 50%;
    cursor: pointer;
}
#coment{
    position: relative;
    height: 90%;
    width: 100%;
    display: block;
    overflow: auto;
    border: solid 2px #525252;
    background: #2e2e2e;
}
#coment_head{
    background: #2e2e2e;
    width: 100%;
    padding-top: 1em;
    height: 2em;
    text-align: center;
}
#popouttable{
    height: calc(100% - 200px);
    overflow: auto;
}
.edetailbox{
    display: block;
    width: 1000px;
    max-width: 100%;
    height: 200px;
    position: fixed;
    z-index: 100;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* margin: -200px 0 0 -200px; */
    background: #525252;
    box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);
    color: #ececec;
}
#detailtabel{
    height: 150px;
}
.item{
    display: block;
    width: 100%;
}
.flex{
    display: flex;
}
.username{
    margin-right: 10px;
    color: #a7a7a7;
}
.chat{
    display: flex;
}
.stump{
    width: 1em;
    height: 1em;
}