th{
    text-align: left;
}
header {
    background-color: #414141;
}
.flex{
    display: flex;
}
.headerlink{
    padding  : 20px;
}
/* 動画を囲うdiv */
#videodiv {
    position: relative;
    width:70%; /* 横幅は100%で固定 */
    height:0; /* 高さは0にしておく(padding-topで高さを指定するため) */
    padding-top: 39.375%; /* 高さを指定(16:9) */
}

/* YouTube埋め込み用のiframe */
iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
details {
    transition: .5s;
}
.edit {
    display: block;
    width: 600px;
    max-width: 100%;
    height: 300px;
    position: fixed;
    z-index: 100;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* margin: -200px 0 0 -200px; */
    background: white;
    box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);
}

.closed {
    display: none;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
    background: rgba(0, 0, 0, 0.6);
}
a {
    text-decoration: none;
    color: #ececec;
}
#taglist{
    display: flex;
}
#manu{
    height: 30%;
    width: 100%;
    display: flex;
}
.list{
    width: 33%;
}
.editsongsbox{
    display: block;
    width: 1000px;
    max-width: 100%;
    height: 400px;
    position: fixed;
    z-index: 100;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* margin: -200px 0 0 -200px; */
    background: white;
    box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);
    color: #414141;
}
.closed{
    display: none;
}
#prayer{
    display: flex;
}
#other {
    position: relative;
    width: 30%; /* 横幅は100%で固定 */
    height: 39.375%; /* 高さは0にしておく(padding-topで高さを指定するため) */
}
#buttons2{
    position: relative;
    height: 20%;
}
#coment{
    position: relative;
    height: 80%;
}
#popouttable{
    height: 220px;
    overflow: scroll;
}
.edetailbox{
    display: block;
    width: 1000px;
    max-width: 100%;
    height: 200px;
    position: fixed;
    z-index: 100;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* margin: -200px 0 0 -200px; */
    background: white;
    box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);
    color: #414141;
}
.closed{
    display: none;
}
.scroll{
    overflow: scroll;
}
#detailtabel{
    height: 150px;
}