
/* 動画を囲うdiv */
#videodiv.default {
    position: relative;
    width:70%; /* 横幅は100%で固定 */
    height:0; /* 高さは0にしておく(padding-topで高さを指定するため) */
    padding-top: 39.375%; /* 高さを指定(16:9) */
}
#videodiv.borderless{
    display: block;
    width: 100%;
    max-width: 100%;
    height: 0;
    padding-top: 56.25%; /* 高さを指定(16:9) */
    position: fixed;
    z-index: 100;
    left: 0;
    top: calc((100vh - 56vw) / 2);
}

/* YouTube埋め込み用のiframe */
iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#borderlass_backgraund{
    position: absolute;
    top: calc((100vh - 56vw) / 2 * -1);;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #414141;
}
#borderlass_off{
    position: absolute;
    display: block;
    z-index: 102;
}
#borderlass_backgraund:hover + #borderlass_off{
    display: block;
}
#video:hover + #borderlass_off{
    display: block;
}
video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
a{
    text-decoration: none;
}
#taglist{
    display: flex;
}
#manu{
    height: 30%;
    width: 100%;
    display: flex;
}
.list{
    width: 33%;
}
#prayer{
    display: flex;
}
#other {
    position: relative;
    width: 30%; /* 横幅は100%で固定 */
    height: 39.375%; /* 高さは0にしておく(padding-topで高さを指定するため) */
}
#buttons2{
    position: relative;
    height: 20%;
}
#coment{
    position: relative;
    height: 80%;
}
.scroll{
    overflow: scroll;
}
#songlist{
    width: 100px;
}