/* 動画を囲うdiv */
#videodiv.default {
    position: relative;
    width:100%; /* 横幅は100%で固定 */
    height:0; /* 高さは0にしておく(padding-topで高さを指定するため) */
    padding-top: 56.25%; /* 高さを指定(16:9) */
}


#borderlass_backgraund:hover + #borderlass_off{
    display: block;
}


#main_window{
    display: flex;
    overflow: hidden;!important;
}
#main{
    width: 70%;
    overflow: auto;
}
#main::-webkit-scrollbar{
    display: none;
}
#sub{
    width: 30%;
}
#buttons{
    display: flex;
    height: 75px;
    width: 100%;
}
#buttons > * {
    height: 100%;
    width: 50%;
}
#player{
    height: auto;
}


#title{
    margin: 10px 0 10px 0;
}

#description>summary{
    height: 25px;
    overflow: hidden;
}